body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.weather-app {
    background: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

form input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;
}

form button {
    padding: 10px 20px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

form button:hover {
    background: #00f2fe;
}

.weather-result {
    margin-top: 1.5rem;
    padding: 1rem;
    border-top: 1px solid #ccc;
}

.hidden {
    display: none
}